$display:flex;
$background:#FFFFFF;
$jc:space-between;
$position:relative;
$w:32px;
$h:32px;
$mgtop:50px;
$mgleft:50px;
@mixin woman {
    width: 1440px;
    height: 650px;
    background-image: url(../img/Rectangle\ 1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 0px;
}

@mixin wd{
    width: 100%;
    display: flex;
}

@mixin block {
    display: flex;
    flex-direction: column;
}

@mixin prom {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

@mixin italian {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

@mixin discover {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.woman{
    @include woman()
}

.userparent{
    @include wd();
    justify-content: $jc;
    padding-top: 20px;

    .cube{
        width: $w;
        height: $h;
        position: $position;
        left: 53px;
        top: 18px;
    }

    .user{
        width: 86px;
        height: 53px;
        background: $background;
        border-radius: 26.5px;
        position: $position;
        right: 122px;
        top: 10px;
        display: $display;
    }

    .s1{
        margin-left: $mgleft - 30px;
        margin-top: $mgtop - 28px;
        display: block;
    }

    .s2{
        margin-top: $mgleft - 40px;
        margin-left: 8px;
    }
}

// europe

@mixin shadow{
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}

@mixin out{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 49px;
    color: #000000;
}

@mixin lorem {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}

@mixin explore {
    padding: 3px 80px 10px 45px;
    border: none;
    background: #F78065;
    box-sizing: border-box;
}

.europe{
    width: 741px;
    height: 537px;
    background: $background;
    @include shadow();
    position: absolute;
    z-index: 999;
    top: 384px;
    left: 63px;
    padding-right: 162px;
    padding-bottom: 75px;
    padding-top: 96px;

    .findparent{
        @include wd();
        margin-left: $mgleft - 46px;
        margin-top: $mgtop - 65px;
    }

    .outparent{
        margin-top: $mgtop - 30px;
        margin-left: $mgleft + 10px;
    }

    .out{
        @include out()
    }

    .save{
        color: #F78065;
    }

    .loremparent{
        @include wd();
    }

    .lorem{
        @include lorem();
        margin-top: $mgtop - 21px;
        margin-left: $mgleft + 14px;
    }

    .exploreparent{
        @include wd();
    }

    .explore{
        @include explore();
        margin-left: $mgleft + 14px;
        margin-top: $mgtop - 27px;
    }

    .worldparent{
        @include wd();
    }
    
    .world{
        width: $w - 8px;
        height: $h - 8px;
        margin-top: $mgtop - 32px;
        position: $position;
        left: 30px;
    }

    .exploretext{
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        color: #FFFFFF;
        margin-top: 20px;
        margin-left: 35px;
    }
}


// cont

.cont{
    width: 1370px;
    height: 2770px;
    background: $background;

    .info{
        @include wd();
        margin-top: 500px;
        margin-left: 119px;
    }

    .info>div{
        margin-right: 3px;
    }

    .block1{
        @include block();
    }

    .undraw{
        width: 250px;
    }

    .prom{
        width: 500px;
        @include prom();
        margin-top: 84px;
    }

    .prom1{
        @include prom();
    }

    .italian{
        @include italian();
        margin-top: 15px;
    }

    .des{
        width: 500px;
        @include prom();
        margin-top: 80px;
    }


    .discover{
        @include discover();
        color: #F78065;
        margin-top: 26px;
    }

    .block2{
        @include block();
        margin-left: -78px;
    }

    .draw{
        width: 222.82px;
        height: 180px;
    }
    
    .need{
        @include prom();
    }

    .cover{
        @include discover();
        color: hsl(11, 90%, 68%);
        margin-top: 26px;
    }

    .block3{
        @include block();
        margin-left: -73px;
    }

    .prom3{
        @include prom();
    }

    .abroad{
        @include prom();
    }

    .i{
        @include italian();
        margin-top: 10px
    }

    .dis{
        @include discover();
        margin-top: 24px;
    }
}