$display:flex;
$background:#FFFFFF;
$jc:space-between;
$position:relative;
$w:32px;
$h:32px;
$mgtop:50px;
$mgleft:50px;
@mixin woman {
    width: 1440px;
    height: 650px;
    background-image: url(../img/Rectangle\ 1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 0px;
}

@mixin wd{
    width: 100%;
    display: flex;
}

@mixin block {
    display: flex;
    flex-direction: column;
}

@mixin prom {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

@mixin italian {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

@mixin discover {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

@mixin select {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
}

@mixin describe {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

@mixin show {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #F78065;
}
.woman{
    @include woman()
}

.userparent{
    @include wd();
    justify-content: $jc;
    padding-top: 20px;

    .cube{
        width: $w;
        height: $h;
        position: $position;
        left: 53px;
        top: 18px;
    }

    .user{
        width: 86px;
        height: 53px;
        background: $background;
        border-radius: 26.5px;
        position: $position;
        right: 122px;
        top: 10px;
        display: $display;
    }

    .s1{
        margin-left: $mgleft - 30px;
        margin-top: $mgtop - 28px;
        display: block;
    }

    .s2{
        margin-top: $mgleft - 40px;
        margin-left: 8px;
    }
}

// europe

@mixin shadow{
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}

@mixin out{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 49px;
    color: #000000;
}

@mixin lorem {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}

@mixin explore {
    padding: 3px 80px 10px 45px;
    border: none;
    background: #F78065;
    box-sizing: border-box;
}

.europe{
    width: 741px;
    height: 537px;
    background: $background;
    @include shadow();
    position: absolute;
    z-index: 999;
    top: 384px;
    left: 63px;
    padding-right: 162px;
    padding-bottom: 75px;
    padding-top: 96px;

    .findparent{
        @include wd();
        margin-left: $mgleft - 46px;
        margin-top: $mgtop - 65px;
    }

    .outparent{
        margin-top: $mgtop - 30px;
        margin-left: $mgleft + 10px;
    }

    .out{
        @include out()
    }

    .save{
        color: #F78065;
    }

    .loremparent{
        @include wd();
    }

    .lorem{
        @include lorem();
        margin-top: $mgtop - 21px;
        margin-left: $mgleft + 14px;
    }

    .exploreparent{
        @include wd();
    }

    .explore{
        @include explore();
        margin-left: $mgleft + 14px;
        margin-top: $mgtop - 27px;
    }

    .worldparent{
        @include wd();
    }
    
    .world{
        width: $w - 8px;
        height: $h - 8px;
        margin-top: $mgtop - 32px;
        position: $position;
        left: 30px;
    }

    .exploretext{
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        color: #FFFFFF;
        margin-top: 20px;
        margin-left: 35px;
    }
}


// cont

.cont{
    width: 1370px;
    height: 2770px;
    background: $background;

    .info{
        @include wd();
        margin-top: 500px;
        margin-left: 119px;
    }

    .info>div{
        margin-right: 3px;
    }

    .block1{
        @include block();
    }

    .undraw{
        width: 250px;
    }

    .prom{
        width: 500px;
        @include prom();
        margin-top: 84px;
    }

    .prom1{
        @include prom();
    }

    .italian{
        @include italian();
        margin-top: 15px;
    }

    .des{
        width: 500px;
        @include prom();
        margin-top: 80px;
    }


    .discover{
        @include discover();
        color: #F78065;
        margin-top: 26px;
    }

    .block2{
        @include block();
        margin-left: -78px;
    }

    .draw{
        width: 222.82px;
        height: 180px;
    }
    
    .need{
        @include prom();
    }

    .cover{
        @include discover();
        color: hsl(11, 90%, 68%);
        margin-top: 26px;
    }

    .block3{
        @include block();
        margin-left: -73px;
    }

    .prom3{
        @include prom();
    }

    .abroad{
        @include prom();
    }

    .i{
        @include italian();
        margin-top: 10px
    }

    .dis{
        @include discover();
        margin-top: 24px;
    }
}

// choose

.making{
    @include prom();
    font-size: 36px;
    line-height: 45px;
    margin-top: 240px;
    margin-left: 110px;
}

.makes{
    display: $display;
    margin-left: $mgleft + 70px;
    margin-top: $mgtop + 60px;

    .choose{
        @include block();
    }

    .color1{
        width: $w - 6px;
        height: $h - 12px;
        margin-top: 5px;
        margin-left: 2px;
    }

    .stop{
        @include prom();
        font-size: 22px;
        line-height: 28px;
        margin-top: 70px;
    }

    .select{
        @include select();
        margin-top: 31px;
    }

    .show{
        @include prom();
        font-size: 18px;
        line-height: 22px;
        color: #F78065;
        margin-top: 16px;
    }

    .a{
        @include block();
        margin-left: $mgleft + 15px;
    }

    .color2{
        width: $w - 6px;
        height: $h - 12px;
        margin-left: 0px;
        margin-top: 5px;
    }

    .describe{
        @include describe();
        margin-top: $mgtop + 20px;
        margin-left: $mgleft - 50px;
    }

    .property{
        @include select();
        margin-top: $mgtop - 20px;
        margin-left: $mgleft - 50px;
    }

    .show1{
        @include show();
        margin-top: 36px;
        margin-left: 0px;
    }

    .build{
        @include block();
        margin-left: $mgleft + 10px;
    }

    .wcr{
        width: $w - 2px;
        height: $h -2px;
    }

    .showcase{
        @include describe();
        margin-top: $mgtop + 16px;
    }

    .photos{
        @include select();
        margin-top: $mgtop - 20px;
    }

    .show2{
        @include show();
        margin-top: 14px;
        margin-left: 0px; 
    }

    .prices{
        @include block();
        margin-left: $mgleft + 10px;
    }

    .calendar{
        width: $w;
        height: $h;
    }

    .aval{
        @include describe();
        margin-top: $mgtop + 16px;
    }

    .pitch{
        @include select();
        margin-top: $mgtop - 20px;
    }

    .show3{
        @include show();
        margin-top: $mgtop - 12px;
    }
}


// join

@mixin rec {
    width: 230px;
    height: 418px;
}

@mixin rome{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3F3D56;
}

@mixin view {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F78065;
    margin-top: 10px;
}

.join{
    display: $display;
    margin-top: 260px;
    margin-left: 100px;

    .com{
        @include block();
    }

    .sites{
        @include prom();
        font-size: 36px;
        line-height: 45px;
    }

    .camper{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        opacity: 0.5;
        margin-top: 20px;
    }

    .stparent{
        display: flex;
        margin-top: $mgtop - 30px;
    }

    .start{
        @include explore();
        padding: 0px 104px 0px 95px; 
    }

    .playparent{
        display: $display;
        margin-top: 10px;
    }

    .play{
        width: 10px;
        height: 12px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .sttxt{
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        color: #FFFFFF;
        margin-left: 7px;
    }

    .lucciano{
        @include block();
        margin-left: $mgleft + 97px;
    }

    .rec{
        @include rec();
    }

    .luch{
        @include prom();
        margin-top: $mgtop - 26px;
    }

    .rome{
        @include rome();
        margin-top: 8px;
        margin-left: 0px;
    }

    .view{
        @include view();
    }

    .cremonesi{
        @include block();
        margin-left: $mgleft
    }

    .cr{
        @include rec();
    }

    .ctxt{
        @include prom();
        margin-top: $mgtop - 26px;
    }

    .florence{
        @include rome();
        margin-top: 8px;
    }

    .beneventi{
        @include block();
        margin-left: $mgleft;
    }

    .bentxt{
        @include prom();
        margin-top: $mgtop - 26px;
    }

    .venice{
        @include rome();
        margin-top: 8px;
    }
}

// our

@mixin you {
    width: 386px;
    height: 96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
}

.our{
    @include out();
    font-size: 36px;
    line-height: 45px;
    margin-top: 232px;
    margin-left: 110px;
}

.const{
    display: $display;
    margin-left: $mgleft + 60px;
    margin-top: $mgtop + 58px;

    .trans{
        @include block();
    }

    .conv{
        @include describe();
        margin-top: $mgtop + 14px;
    }

    .compare{
        width: $w;
        height: $h;
    }

    .you{
        @include you();
        margin-top: $mgtop - 10px;
    }

    .digitial{
        @include block();
        margin-left: 40px;
    }

    .lib{
        width: $w;
        height: $h;
    }

    .mark{
        @include describe();
        margin-top: $mgtop + 14px;
    }

    .dont{
        @include you();
        margin-top: 40px;
    }

    .ded{
        @include block();
        margin-left: 70px;
    }

    .hsv{
        width: $w;
        height: $h;
    }

    .cam{
        @include describe();
        margin-top: $mgtop + 14px;
    }

    .t{
        @include you();
        margin-top: 14px;
    }
}

